<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:border="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta charset="UTF-8">
    <title>Table : Customers</title>
</head>
<body>
<h1> Table : Customers </h1>

<table th:border="2" th:cellpadding="4">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${data}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.phoneNumber}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>